{% extends 'base.html.twig' %}
{% block html %}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable the networking site">
    <meta name="keywords" content="networking, bangla, queries, it, blogs">
    <meta name="author" content="Ashraf Bin Sahadat">

    <title>{% block title %}SNN Networks || Welcome {% endblock %}</title>


</head>

{% block body %}
<body class="body">
<header>
    <div class="container">
        <div id="branding">
            <span class="user"> <h5>
                    {%  if user!=null %}
                        Welocome {{ user.username }}
                    {% else %}
                        Not Logged in
                    {% endif %}

                </h5> </span>
            <h1><a href="/"><span class="highlight"> SecureBangla Network</span></a></h1>
        </div>
        <nav>
            <ul>

                <li class="current"><a href="/">Home</a></li>
                <li><a href="/">Articles</a></li>
                <li><a href="/authors">Authors</a></li>
                {% if is_granted('ROLE_Author') %}
                    <li><a href="/logout">LogOut</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
                <li><a href="/new">Post</a></li>
                <li><a href="/">About</a></li>




            </ul>

        </nav>
    </div>
</header>
<section id="showcase">
    <div class="container">

        <h1>reliable and safe for your security concern</h1>
        <p>"If you reveal your secrets to the wind, you should not blame the wind for revealing them to the trees."-Kahlil Gibran</p>

    </div>
</section>

<section id="newsletter">
    <div class="container">
        <h1>Subscribe to get our newsletter</h1>
        <form>
            <input type="email" placeholder="Enter your valid Email...">
            <button type="submit" class="button_1">Subscribe</button>
        </form>
    </div>
</section>


<section id="boxes">
    <div class="container">
        {% for post in all %}
            <div class="box">
                <img src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="NO Image" style="width:100px;height:100px;"/>
                <h3><a href="/blog/{{ post.id}}">{{ post.title }}</a></h3>

            </div>
        {% endfor %}

    </div>
</section>
<footer>
    <p>SNN Networks, Copyright &copy; 2019</p>
</footer>

{% endblock %}

</body>
</html>

{% endblock %}


  {#
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable the networking site">
    <meta name="keywords" content="networking, bangla, queries, it, blogs">
    <meta name="author" content="Ashraf Bin Sahadat">



    <title>{% block title %}SNN Networks || Welcome {% endblock %}</title>



</head>

{% block body %}
<body>
<header>
    <div class="container">
        <div id="branding">
            <span class="user"> <h5>
                    {%  if user!=null %}
                    Welocome {{ user.username }}
                    {% else %}
                        Not Logged in
                    {% endif %}

                </h5> </span>
            <h1><a href="/"><span class="highlight"> SNN Network </span>  </a></h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/">Articles</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/">Ask</a></li>
                <li><a href="/new">Post</a></li>


                {% if is_granted('ROLE_Author') %}
                <li><a href="/logout">LogOut</a></li>
                {% endif %}

            </ul>

        </nav>
    </div>
</header>
<section id="showcase">
    <div class="container">

        <h1>reliable and safe for your security concern</h1>
        <p>"If you reveal your secrets to the wind, you should not blame the wind for revealing them to the trees."-Kahlil Gibran</p>

    </div>
</section>


<section id="boxes">
    <div class="container">
        {% for post in all %}
            <div class="box">
                <img src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="NO Image" style="width:100px;height:100px;"/>
                <h3><a href="/blog/{{ post.id}}">{{ post.title }}</a></h3>

            </div>
        {% endfor %}

    </div>
</section>
<footer>
    <p>SNN Networks, Copyright &copy; 2019</p>
</footer>

{% endblock %}

</body>
</html>

{% endblock %}

#}























{#

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable the networking site">
    <meta name="keywords" content="networking, bangla, queries, it, blogs">
    <meta name="author" content="Ashraf Bin Sahadat">

    <title>{% block title %}SNN Networks || Welcome {% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/CSS/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% endblock %}
    <script defer src="http://use.fontawesome.com/releases/v5.0.6/is/all.is"></script>


</head>

<body>




<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">SNN</span> Network</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/new">Write new Article</a></li>
                <li><a href="/sign_up">Sign_up</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="showcase">
    <div class="container">

        <h1>reliable and safe for your security concern</h1>
        <p>"If you reveal your secrets to the wind, you should not blame the wind for revealing them to the trees."-Kahlil Gibran</p>

    </div>
</section>
<section id="newsletter">
    <div class="container">
        <h1>Subscribe to get update about our new post</h1>
    </div>
</section>

<section id="boxes">
    <div class="container">
        {% for post in all %}
        <div class="box">
            <img src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="NO Image" style="width:100px;height:100px;"/>
            <h3><a href="/blog/{{ post.id}}">{{ post.title }}</a></h3>

        </div>
        {% endfor %}

    </div>
</section>
<footer>
    <p>SNN Networks, Copyright &copy; 2019</p>
</footer>




</body>

</html>



#}