{% extends 'base.html.twig' %}



{% block title %}SNN Networks || Single Post {% endblock %}


{% block body %}

<body>

<section id="main">
    <div class="container">
        <article id="main-col">

            <br/>
            <br/>
            <h1 class="page-title" style="font-family:Arial;color: #222222" ><b>{{ post.title }}</b></h1>
            <h4 class="authors" style="color:grey">Author:::<a href="/authors/{{ auth_name }}">{{ auth_name }}</a></h4> &nbsp;
            {% if post.image==null %}
                <p >#####image not found for this post#####</p>
            {% else %}
                <li><img src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="new" style="width:400px;height:400px;"/></li>
            {% endif %}
            &nbsp;&nbsp;
            <p>   {{ post.article }}    </p>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <section id="post_box">
                <div class="container">

                    {% if is_granted('ROLE_Author') %}
                    <form class="ui form" action="/blog/delete/{{ post.id }}" method="get" enctype="multipart/form-data">
                        <button class="ui button" type="submit">Delete Article</button>

                    {% endif %}





                    </form>
                </div>

            </section>

{% endblock %}








